@rendermode InteractiveServer
@inject IStringLocalizer<SharedResources> L

<div class="language-selector">
    <label class="language-selector-label visually-hidden" for="culture-select">@L["Language_Select"]</label>
    <select id="culture-select"
            class="form-select form-select-sm culture-select"
            value="@CurrentCulture"
            @onchange="OnCultureChanged">
        @foreach (var language in Languages)
        {
            <option value="@language.Code">@language.Flag @language.Label</option>
        }
    </select>
</div>
