@inject IStringLocalizer<Resources.SharedResources> L

<div class="top-row ps-3 navbar navbar-dark tutorsphere-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@L["AppName"]</a>
    </div>
</div>

<input type="checkbox" title="@L["Nav_MenuToggle"]" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @L["Nav_Home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> @L["Nav_Search"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tutor/dashboard">
                <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> @L["Nav_Tutor"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tutor/register">
                <span class="bi bi-plus-circle-nav-menu" aria-hidden="true"></span> @L["Nav_CreateSchool"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent">
                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> @L["Nav_Parent"]
            </NavLink>
        </div>
    </nav>
</div>
